[2021-06-24 04:35] GMishx opened #26 "Cookies needs to have SameSite as strict"
The "token" cookie at least needs to have the `SameSite: strict` property.

[2021-06-24 04:47] GMishx opened #27 "Need script to generate copyright information"
I have a request to generate the `src/data/copyright.js` file (from PR #23) from CSV exported from FOSSology. It will make it very easy to update the list from FOSSology scan results.

Also, please do a unique operation on the final list to remove duplicates.

Attaching sample file for reference.

[atarashi-master.zip-20210624-copyrights.csv](https://github.com/fossology/FOSSologyUI/files/6706334/

[2021-06-24 05:50] #26 closed, assigned to nobody

[2021-06-27 03:14] Shruti3004 commented on #27
@GMishx if possible can I get the csv for copyrights.

[2021-06-27 22:39] Shruti3004 opened #41 "Authentication Error: invalid date"
### Description

Since `toISOString()` return the string in `GMT+0200 (CEST)` format which is behind by 5 hours 30 minutes, so it is giving Login error.
Refrence: [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)

### How to reproduce
Try login betwee

[2021-06-28 06:01] GMishx commented on #27
I have already attached one sample in the description. Do you want the CSV for FOSSology?

[2021-06-28 09:00] Shruti3004 opened #44 "Widgets for the helper messages to improve the UX"
### Description

Adding a widget for Alert and Tootips to display the helper messages and other helping information.

### Steps followed and expected result

Create the separe folder in `src/components/widgets`

[2021-06-28 12:12] Shruti3004 commented on #27
Yes, if possible then it will be great so that I can dry run the things, because instead of array I thought to do it with the JSON, and the JSON format for the following is:
[code]
But I want to look how the json of these copyrights will look like because I think we don't need keys for the copyrights in the json

[2021-07-01 02:07] #44 closed

[2021-07-01 12:40] GMishx commented on #27
So I couldn't find the file which generated the copyrights in the About page. But I just cleared the copyrights for FOSSology again and here is the CSV: [fossology-01-07-2021-20210701-copyrights.csv](https://github.com/fossology/FOSSologyUI/files/6748092/fossology-01-07-2021-20210701-copyrights.csv)

From the last comment, I also don't think you need to mention any `filepath` of the `copyright` ke

[2021-07-03 05:46] GMishx opened #63 "General review on current stage"
### Description

Some observations on current `development` branch.
1. Tried dark theme on Search page, results not looking good.
2. The page "Organize > Folder > Move or Copy" has title "Move folder" where copy is also a posibility.
3. Please check the link for "FOSSology web site" in the bottom of "http://localhost:3000/help/overview" to open in new tab.

#### Screenshots

- Search
    ![image](

[2021-07-03 05:51] Shruti3004 commented on #63
@GMishx I have already fixed this search theme issue in the pr #61

[2021-07-03 06:11] Shruti3004 commented on #63
@GMishx Created the separate pr fixing the listed issues. #65

[2021-07-03 06:34] GMishx commented on #63
Fixed in #65 and #66

[2021-07-03 06:34] #63 closed

[2021-07-03 13:16] sjha2048 opened #67 "Snackbars for error/success messages"
### Description

For error handling and showing successful responses to users, we can have snack bars

#### Screenshots
Component for reference

![image](https://user-images.githubusercontent.com/30971724/124355457-e7c53700-dc2e-11eb-8ba4-73119663826b.png)

#### References

https://material-ui.com/components/snackbars/

[2021-07-03 13:20] sjha2048 opened #68 "Storybook Integration"
### Description

We can introduce storybook, which would make developing/exploring components easier and will also help us with reusability.

#### Additional details

Storybook is licensed under MIT license.

[2021-07-06 09:09] Shruti3004 commented on #67
#78 is merged.

[2021-07-06 09:09] #67 closed

[2021-07-07 07:23] sameer1046 opened #85 "Create a docker compose file with fossology backend"
Unable to use the UI with a Fossology backend due to cross origin policy.

Please create a docker compose file with Fossology backend for containerized execution.

[2021-07-07 07:44] Shruti3004 commented on #85
Hey, @sameer1046 have you tried changing the port Admin>Customize

[2021-07-07 09:39] sameer1046 commented on #85
Please make the apiUrl configurable in a config file
The app is not working in windows due to error " delete ‘␍’eslint (prettier / prettier) error"

[2021-07-07 09:47] Aman-Codes commented on #85
@sameer1046 Yes there is already a pull request (#69) for keeping apiUrl in a separate .env file

[2021-07-07 09:48] GMishx commented on #85
Hello @sameer1046 PR #69 will put the apiUrl in an `.env` file.

[2021-07-07 10:53] GMishx opened #88 "Use scan preference from user object"
### Description

While uploading a file or scheduling a scan from Jobs, the list of agents can be selected by default based on `/users/self` object.

Currently, following object is returned from the `/users/self` endpoint
[code]

The `agents` object here is what user has selected as their default agents in the UI. This can be used to select the checkboxes from the following table.

![image](https:

[2021-07-07 11:02] GMishx opened #89 "Load the reuse options"
### Description

In the current UI, only "Enhanced reuse" and "Reuse main license" options exists.

#### Steps followed and expected result

1. The "Select an already uploaded package for reuse in specific folder" option is just a list of folder. Can be populated with `/folders` endpoint.
2. Other 2 options of report configuration and copyrights are `reuse_report` and `reuse_copyright` boolean.
3.

[2021-07-07 11:06] GMishx opened #90 "Creating group selector"
### Description

1. A group selector is required next to user.
2. The possible values can be populated from `/groups` endpoint.
  - The resultant value can be cached and for each login???
3. The group selected by user needs to be sent as `groupName` header with *each* consecutive API calls.

[2021-07-07 11:12] GMishx opened #91 "Spinner on browse page"
### Description

A spinner can be displayed on the "Browse" page while waiting for response from API.

Should be visible for both initial load and when going to next page.

#### Steps followed and expected result

Kill apache server and then perform operation on the page.

#### Screenshots

Current spinner is not very visual and also does not handle errors.

![image](https://user-images.githubuser

[2021-07-07 14:21] Shruti3004 commented on #91
Okay will fix it.

[2021-07-07 14:22] Shruti3004 commented on #89
Okay @GMishx will work on it.

[2021-07-12 05:23] GMishx opened #97 "License text hard to read in dark theme"
### Description

The text in disabled textarea is hard to read in dark theme.

#### How to reproduce

Load licenses from Organize > Licenses and change the theme to dark.

#### Screenshots

![image](https://user-images.githubusercontent.com/18077542/125235018-6b51e880-e2ff-11eb-8ea7-e6393f0b24d0.png)

[2021-07-12 05:32] Shruti3004 commented on #97
@GMishx Fixed it in #83

[2021-07-12 05:38] #97 closed

[2021-07-12 08:22] shaheemazmalmmd opened #99 "fix warnings"
### Description

Warnings in developer tools.

#### How to reproduce

* install development branch, login and open developer tools(Inspect)

#### Screenshots

![screenShot18](https://user-images.githubusercontent.com/10155976/125254603-4027c300-e318-11eb-9406-10de0b97989f.PNG)

### Logs

[code]

[2021-07-12 12:23] Aman-Codes commented on #68
Closed by #80

[2021-07-12 12:23] #68 closed

[2021-07-12 12:24] Aman-Codes commented on #88
Closed by #92

[2021-07-12 12:24] #88 closed

[2021-07-14 05:42] Shruti3004 opened #105 "Keeping the auth constant in an env file"
### Description

Keeping the auth constants in env file and can have some default file if file doesn't exists.

[code]

[2021-07-14 13:26] sjha2048 opened #108 "Refactor large components"
### Description

There are several components which needs to be refactored/broken into smaller components

[2021-07-14 13:39] #105 closed

[2021-07-14 16:46] Shruti3004 opened #109 "Invalid errors"
### Description

Getting invalid errors on the api requests.

![Screenshot from 2021-07-14 08-53-18](https://user-images.githubusercontent.com/56133783/125660717-46386c6f-a272-4b61-9868-7e1fe8527a74.png)

[2021-07-15 03:37] Shruti3004 opened #111 "Code is getting broken on uploading files by VCS"
### Description

On giving the url to repository on VCS page, it is making request to the `upload/{id}` but then the code gets broke.

#### How to reproduce

- Go to `/uploads/vcs`
- Try uploading the files.

[2021-07-18 21:59] #109 closed

[2021-07-19 04:56] #27 closed

[2021-07-19 04:56] #91 closed

[2021-07-20 06:25] #99 closed

[2021-07-26 06:50] #90 closed

[2021-07-26 06:50] #111 closed

[2021-07-28 11:11] GMishx opened #130 "Make non-recursive upload listing"
### Description

Update all calls to `/uploads?folderId=1` non-recursive with `recursive=false` to list uploads from given folder only.

Currently all places loads all the uploads accessible by the user which is confusing.

[2021-07-28 11:13] GMishx opened #131 "Browse folder uploads"
### Description

Since Browse page now list uploads and folders, the uploads navigation can be updated. When someone clicks on a folder, the uploads from that folder can be listed in the browse table.

This task can be picked-up when migrating to material table as well.

[2021-07-28 11:27] Shruti3004 commented on #131
Yeah Actually we are not sure about that we are going to use both libraries in the project, and even we had a discussion with sahil on this in the last meeting but we doesn't reached to any conclusion probably we can discuss it today's meeting.

[2021-08-03 09:36] #85 closed

[2021-08-04 06:15] #89 closed

[2021-08-04 06:15] #130 closed

[2021-08-04 06:29] #41 closed

[2021-08-04 07:41] #131 closed

[2021-08-12 17:20] sjha2048 opened #154 "Hide Error Snackbar after couple of seconds"
### Description

When the error bar is displayed on the screen, it doesn't go away after a couple of seconds, ideally, it should disappear after a while

[2021-09-07 19:28] salmanansari14 commented on #154
I like to contribute in this issue

[2021-09-07 20:03] Shruti3004 commented on #154
@salmanansari14 Go ahead, just go through this pr https://github.com/fossology/FOSSologyUI/pull/155 and can improve the existing changes suggested in it.

[2021-09-22 16:25] sjha2048 commented on #154
@salmanansari14 let me or @Shruti3004 know if you need any help on this issue.

[2021-10-04 08:57] sjha2048 opened #156 "Move texts/messages to a constant file"
At several places, we have hardcoded error messages, these can be moved to a separate constants file.

[2021-10-04 08:58] sjha2048 commented on #154
@salmanansari14 due to inactivity I'm opening this issue to pick up by others as well, feel free to reach out if you want to work on it.

[2021-10-04 09:02] sjha2048 opened #157 "Hooks for handling notifications and error snack bars"
For snackbars and notifications, we can create a hook that we can use Across the project.
For more details refer to this [comment](https://github.com/fossology/FOSSologyUI/pull/155#issuecomment-899564564)

[2021-10-04 18:16] caffeinated-pixels commented on #156
Hi. I've just had a quick look and I believe this is something I could take on if you want to assign me?

Just to clarify: you want me to find all the hardcoded error messages, move them to a single constants file, and then import the messages as variables where needed?

Thanks
Stevie

[2021-10-05 05:16] sjha2048 commented on #156
Hey @caffeinated-pixels,
yes, you are correct, we want to do it for all kinds of messages.

[2021-10-06 04:44] Aman-Codes opened #159 "Testing: Improve test coverage"
### Description

Currently test cases are written only for a few components. There is a need to add more test cases.

#### Steps followed and expected result

- Add more test cases to improve test coverage
- Run `yarn test --coverage --watchAll` to view test coverage report (currently less than 30%)

#### Screenshots

![image](https://user-images.githubusercontent.com/54680709/136141889-93041849-e

[2021-10-06 04:56] Aman-Codes opened #160 "Use lazy loading components"
### Description

Currently all the components are loaded during initial page load which increases the initial load time. We could use [lazy loading](https://blog.logrocket.com/lazy-loading-components-in-react-16-6-6cea535c0b52/) to optimize the load time.

#### Steps followed and expected result

Update imports to use lazy loading. Example change
[code]
to
[code]

[2021-10-06 05:29] Aman-Codes opened #161 "Create storybook item for all the components"
### Description

Create [storybook item](https://storybook.js.org/docs/react/writing-stories/introduction) for all the components.

#### Steps followed and expected result

Sample [storybook](https://next--storybookjs.netlify.app/official-storybook/)

#### Screenshots

![image](https://user-images.githubusercontent.com/54680709/136145598-5ae8ce0b-7d07-420c-9a5a-3e1637b0a9fa.png)

[2021-10-06 06:29] viogustian commented on #160
do i just have to lazy loaded all in the components folder?

[2021-10-06 12:00] Aman-Codes commented on #160
@viogustian I believe just updating all the page imports inside the [Routes file](https://github.com/fossology/FOSSologyUI/blob/main/src/Routes.jsx) would work.

[2021-10-06 12:23] Jacoberson commented on #161
Can I work on this?

[2021-10-06 12:37] Shruti3004 commented on #161
Go ahead @Jacoberson

[2021-10-10 11:34] srrathi commented on #154
I like to work on this issue. Is it still unresolved and can I work on it?

[2021-10-14 05:33] #156 closed

[2021-11-05 16:01] codeKAMAT opened #165 "[Performance Improvement] Page refresh on theme change"
On theme change, the page is being refreshed
this can be avoided
I would like to fix this can someone assign me this issue.

[2021-11-05 16:05] Shruti3004 commented on #165
Go ahead @codeKAMAT

[2021-11-15 10:13] sayantan1413 commented on #160
@Aman-Codes Is this issue still open then I would like to contribute here.

[2021-11-16 10:36] rtk18 commented on #157
hey, i'd like to contribute how can i get started

[2021-11-26 05:03] soham4abc commented on #161
@Aman-Codes  Is this issue still open. I would like to work on this issue!

[2021-12-13 14:51] TC5022 commented on #160
I would like to work on this issue if it's still open

[2021-12-13 14:52] TC5022 commented on #161
I would like to work on this issue

[2021-12-13 14:57] TC5022 commented on #154
I would like to work on this issue if it's still open @sjha2048 @Shruti3004

[2021-12-27 11:29] shlokjjw commented on #161
Is any collaborative work possible on this issue?

[2022-01-03 04:36] soham4abc commented on #160
I Have started working on this pls assign me the issue if possible.

[2022-01-06 04:46] #160 closed

[2022-01-06 04:47] GMishx opened #167 "Warning while loading delete user page"
### Description

While navigating to "Admin > Users > Delete User" and other pages, following warning popups in the browser console.

#### Screenshots

[code]

### Versions

* Last commit id on master: 850d3c5153bc4fd02f4d87403da965debe5fee22
* Operating System (lsb_release -a):
[code]
* Browser [e.g. chrome, safari]: Firefox 95.0.2

[2022-01-07 06:34] GMishx opened #168 "Update version information"
There is a new PR in fossology upstream to expose server information via REST API https://github.com/fossology/fossology/pull/2139

The following code needs to be tested and updated if required. The API also expose other information like version, branch name and commit hash which should also be displayed on the UI.

https://github.com/fossology/FOSSologyUI/blob/850d3c5153bc4fd02f4d87403da965debe5f

[2022-01-14 04:41] soham4abc commented on #168
I can work on this issue. Will you please assign me?

[2022-01-29 15:08] Suman-Jaiswal opened #172 "Setup on local"
Could somebody please help me to make setup on local?
I have run the docker commands mentioned in the 'README' file, after that if I put user: 'fossy', and password: 'fossy' I am getting failed to fetch error.

![Screenshot (162)](https://user-images.githubusercontent.com/80769590/151666109-f564854c-4dff-4e63-8bde-b9207993ca93.png)

[2022-01-29 15:16] Shruti3004 commented on #172
Hey @Suman-Jaiswal have you setup this https://github.com/fossology/fossology repository. In addition to that can you check your network tab and add the screenshot here.

[2022-01-29 15:30] Suman-Jaiswal commented on #172
![Screenshot 2022-01-29 205950](https://user-images.githubusercontent.com/80769590/151666815-abcd876e-6319-4219-ac69-94c049ea7bed.png)

[2022-01-29 15:32] Suman-Jaiswal commented on #172
I think the network setup is not there. I am new to docker. could you please help me out?. I will also update the readme file if required.

[2022-01-29 18:00] Suman-Jaiswal commented on #172
![Screenshot (163)](https://user-images.githubusercontent.com/80769590/151672044-2c815664-f76c-4711-9cfd-dd55161a4145.png)

[2022-01-30 11:04] Suman-Jaiswal commented on #172
ma'am, I set that repo on my local and successfully logged in. Thanks

[2022-01-30 11:39] Shruti3004 commented on #172
Great, let me know in case of any further queries. I am closing this issue.

[2022-01-30 11:39] #172 closed

[2022-01-30 22:05] Ananyaas commented on #168
Hi, Can I work on this issue?

[2022-01-31 04:57] Shruti3004 commented on #168
Hey @soham4abc are you still want to work on this issue?

[2022-01-31 04:59] soham4abc commented on #168
No ... let @Ananyaas have this issue... :-)

[2022-01-31 05:00] Shruti3004 commented on #168
Cool @Ananyaas you can work on this issue.

[2022-01-31 14:17] DawnArchi01 commented on #108
Hey , I would like to know more on the issue .

[2022-02-07 14:53] heysujal commented on #167
@GMishx  @Shruti3004 I want to contribute . can you guide me how to get started.

[2022-02-09 09:47] goelesha commented on #167
@GMishx @Shruti3004 I want to work on this issue. Kindly assign it to me and advise how to go about it.

[2022-02-15 18:53] mayank2021 opened #173 "Dark theme toggle button"
### Description
When someone click on the profile then only he/she can able to know about the dark theme. To create better user experience the dark theme button should be on navigation.

#### Steps followed and expected result
Current situation:-
1.For toggling between dark theme and light theme we have two button elements
2.User will able to know about the dark theme only when he/she click on the

[2022-02-16 03:50] Shruti3004 commented on #173
Hey @mayank2021 do you want to take this issue up?

[2022-02-16 05:22] mayank2021 commented on #173
@Shruti3004 I am glad to work on that!

[2022-02-16 05:27] Shruti3004 commented on #173
Go ahead @mayank2021

[2022-02-16 05:29] mayank2021 commented on #173
@Shruti3004 Thanks!

[2022-02-16 08:30] mayank2021 commented on #173
@Shruti3004 I need to maintain a state after refresh, so what do you think the best place would be, local storage or something else?

[2022-02-16 08:36] GMishx commented on #173
Just one thing I would like to mention, the button should not consume much of the UI space. The feature is not used very frequently by users. At most twice a day maybe?

The current theme change is hidden under a drop down so it is not consuming any space.

[2022-02-16 09:19] mayank2021 commented on #173
@GMishx Thank you for the suggestion, I will keep it in my mind!

[2022-02-16 13:08] pret3nti0u5 commented on #168
Hey, is this issue still being worked on?
I can take it up if not.

[2022-02-17 06:21] #173 closed

[2022-02-17 10:24] mayank2021 opened #175 "Login button alignment issue"
### Description
login button is not perfectly aligned with input elements

### Current situation
![image](https://user-images.githubusercontent.com/55187056/154456376-09bebc86-bf1d-4009-bdf5-07c231b80cf7.png)

### Expected result
![image](https://user-images.githubusercontent.com/55187056/154456488-e9991514-615c-4d86-8115-cc9607f616b7.png)

[2022-02-17 10:25] mayank2021 commented on #175
@Shruti3004 @GMishx Can I take this up?

[2022-02-17 13:19] GMishx commented on #175
Sure

[2022-02-17 14:18] soham4abc commented on #175
@GMishx  I already had this fixed :'-)

[2022-02-17 14:32] soham4abc commented on #175
on it

[2022-02-17 14:39] mayank2021 commented on #175
@GMishx @soham4abc don't you think the mobile UI should have the equal spaces between all the element

like the image given below
![image](https://user-images.githubusercontent.com/55187056/154504131-183f3dc9-ca09-45ea-9006-c956bb142a18.png)

I am done with the code if @soham4abc can fix the issue than it's good otherwise let me know just need to create a pr

[2022-02-23 12:47] #175 closed

[2022-03-04 17:47] Raunakk02 commented on #108
Hi @sjha2048 @Shruti3004, If no one's working on this issue then can I take this up? There are many open issues on this repo and many people have already commented for taking up the issues. But as of now, those requests are pretty old and still, no one has been assigned to the issue. So please let me know if the project is still accepting contributors.

[2022-03-08 13:11] Raunakk02 commented on #108
Thanks for the response @mcjaeger. Really appreciate it!
I will start working on this issue now.

[2022-03-08 13:13] sjha2048 commented on #108
Hi @Raunakk02, sorry somehow I missed your reply.

feel free to take up this issue and reach out to me in case of any issues/discussions, for now, I'll assign this to you.

[2022-03-08 13:15] mcjaeger commented on #108
Hi, in case you would have the time, maybe consider outlining what your plans are? So we could give feedback and adjust in case. By that approach you re avoiding to work on a PR for a long time alone and then publish something which overlooked one thing in the beginning.

[2022-03-08 13:15] sjha2048 commented on #168
@Ananyaas are you stuck anywhere or would you like to have a discussion?

[2022-03-08 13:23] Raunakk02 commented on #108
Sure @mcjaeger, I'll let you know about my plans once I am done outlining them.

[2022-03-09 12:09] Raunakk02 commented on #108
@mcjaeger @sjha2048 Here is the outline of the work that I am planning to do for the first PR targeting this issue.

## Potential Refactoring

-   src/components/

    -   BrowseUploadsHeader:

        -   The `<Link></Link>` componenent can be taken out as a separate component.

    -   Header:

        -   The `<Nav.Link></Nav.Link>` componenent can be taken out as a separate component -> (not m

[2022-03-10 02:48] Anuragtech02 commented on #157
Hey @sjha2048, is this issue still live? I'd like to work on this.

[2022-03-10 14:49] d-e-v-esh commented on #165
@Shruti3004 It's been like this for a while. Can I work on this issue?

[2022-03-10 17:36] Ankur0710 commented on #168
hii this is ankur nigam i want to work on this issue can you please assign this to me

[2022-03-12 09:34] sjha2048 commented on #168
Sure @Ankur0710 I'll assign it to you.

[2022-03-12 09:36] sjha2048 commented on #108
Hi @Raunakk02 Thank you for the pull request, I'll drop my review soon.

[2022-03-14 17:54] akib22 opened #181 "Add a step-by-step guide on how to connect to the backend"
### Description
I'm attempting to run the project with `yarn` in development mode. However, I am unable to connect to the backend.
I followed the instructions from `readme.md`.

node -> v16.14.0
yarn -> v1.22.17

#### Screenshots
![error screenshot](https://i.ibb.co/zsFfm9w/Screen-Shot-2022-03-14-at-11-28-00-PM.png)

**How `localhost/repo/api/v2` will work? Can anyone please explain to me?.**

[2022-03-16 04:17] omkarg01 commented on #168
If this issue is still open, I would like to work on it. @sjha2048 Would u please assign it to me?

[2022-03-16 15:20] Ayush7614 opened #184 "Issue templates now use Issue forms instead of markdown"
Markdown templates often made it difficult to capture the whole context, by expecting the contributors to read the markup, uncomment lines and delete relevant context.

Issue forms beta was released for public repositories last month, as mentioned by GitHub on this [blog](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). We would like to migrate the issue templa

[2022-03-16 15:21] Ayush7614 commented on #184
@maxhbr @Shruti3004

[2022-03-17 17:28] DevEmmy opened #185 "Loading text popping up when a page is loading up"
### Description

When you load up a page, a "loading" text comes up which looks absurd, instead we could have a css loader or an animation.

#### Steps followed and expected result
Replace the text with a loader

[2022-03-17 17:40] Shruti3004 commented on #185
@DevEmmy Go ahead!

[2022-03-18 09:52] krishna9304 commented on #168
Hi, Can I take up this issue if it's not being worked on?

[2022-03-18 09:55] sjha2048 commented on #168
apologies for the delayed response, @Ankur0710 are you still working on it?

[2022-03-18 09:57] sjha2048 commented on #184
I will research more on this, for now, can you move this to https://github.com/fossology/FOSSologyUI/discussions ?

[2022-03-18 09:58] sjha2048 commented on #181
Hi @akib22, do you have [FOSSology](https://github.com/fossology/fossology) Installed on your system?

[2022-03-18 14:31] akib22 commented on #181
No.

[2022-03-21 06:36] RakeshPotnuru commented on #159
Hi @Aman-Codes
Can I work on this issue?

[2022-03-21 06:43] krishna9304 commented on #167
@sjha2048 @GMishx Can I work on this issue?

[2022-03-21 07:58] nisKULDEEP commented on #168
Hello everyone, can someone help me to assign this task to me?

[2022-03-21 08:18] GMishx commented on #168
At the moment, I am not sure assigning issue makes any sense. Please create a PR if you are working on it.

[2022-03-21 08:32] RakeshPotnuru commented on #181
@akib22
You have to first install [FOSSology](https://github.com/fossology/fossology/wiki/Install-from-Source) and then refer to this [wiki](https://github.com/fossology/FOSSologyUI/wiki/Installation)

[2022-03-21 08:34] RakeshPotnuru commented on #161
Hi @Aman-Codes
I know storybook, can I work on this?

[2022-03-21 08:57] Shruti3004 commented on #161
Yes sure @RakeshPotnuru

[2022-03-22 06:48] krishna9304 commented on #185
@DevEmmy are you still working on this?

[2022-03-22 10:53] Raunakk02 commented on #181
@akib22 One more thing that I would like to add is, once the [FOSSology](https://github.com/fossology/fossology/wiki/Install-from-Source) is up and running at the URL `http://localhost:8081/repo`. Then, you need to follow these two steps:

1. Setup CORS as instructed [here](https://github.com/fossology/FOSSologyUI/wiki/Installation#:~:text=Setup%20CORS%20in%20FOSSology)

2. In the .env file of the

[2022-03-22 17:15] rishabh0906 opened #188 "Fossology logo and Home button doing the same thing"
Logo and Home button both redirect to main page  and even placed side by side. Home is single button on whole navbar, It looks good if there are more buttons . So we might  either delete the home button or delete the redirect feature of logo??

[2022-03-23 13:58] DevEmmy commented on #185
@krishna9304 Yes, But It might take time because I have a slight issue with my pc

[2022-03-23 15:12] krishna9304 commented on #185
So, can I take this up? @DevEmmy

[2022-03-23 15:58] Ankur0710 commented on #168
Sir I am on ,  sir I had some problem at home so I could not do it, so now I will do this issue guide me please reply as soon as possible

[2022-03-23 18:57] d-e-v-esh opened #192 "Cannot Connect React UI to backend"
### Description

I am not able to connect the React UI to the backend and log in as `fossy`.  Whenever I log in, I am getting this CORS error:

![Screenshot from 2022-03-24 00-14-59](https://user-images.githubusercontent.com/59534570/159773665-100c8488-7be6-42a8-886e-3a30d6969ee0.png)

1. I have created the .env file.
2. I added `http://localhost:3000` to `Allowed origins for REST API` in the foss

[2022-03-26 06:35] DevEmmy commented on #185
@krishna9304
Let me get back to you by the end of today.

[2022-03-27 12:28] DevEmmy commented on #185
@Shruti3004 I already created a pull request on that

[2022-03-28 05:43] GMishx commented on #184
I agree with @sjha2048 . And in my opinion, it will be premature to move to issue forms at the moment.

[2022-03-28 05:43] GMishx commented on #184
Moved to https://github.com/fossology/FOSSologyUI/discussions/189

Closing the issue.

[2022-03-28 05:43] #184 closed

[2022-03-28 05:56] GMishx commented on #167
Please just comment you are working on it and open a PR. We will tag you to the issue if needed 😃

[2022-03-28 06:11] pret3nti0u5 opened #194 "Additional changes for implementing docker-compose script"
### Description

This is in reference to additional enhancements I discussed with @GMishx on my PR linked [here](https://github.com/fossology/FOSSologyUI/pull/170#issuecomment-1042610132). I'll make the required code changes and push out a PR soon.

[2022-03-28 06:13] krishna9304 commented on #167
I was working on this and I have also raised a PR #187 , please can you review it? @GMishx

[2022-03-28 10:29] GMishx commented on #181
Does it make sense to convert this issue to a GitHub discussion similar to https://github.com/fossology/fossology/discussions/1942 ?

[2022-03-28 10:33] GMishx commented on #188
The redirect on logo is like a de-facto I am seeing, so it makes no sense to remove it.

Once you login to the interface, there are more drop-downs next to "Home". Maybe give it a try @rishabh0906

[2022-03-28 10:39] GMishx commented on #192
Duplicate of #181

[2022-03-28 10:39] #192 closed

[2022-03-28 10:57] GMishx commented on #185
@DevEmmy Can you please add a [closing keyword](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) to your PR so the issue gets linked with it?

[2022-03-28 11:44] d-e-v-esh commented on #181
@GMishx Yes, I think so, I tried everything but it didn't work for me. Maybe someone else can say what is the problem.

[2022-03-29 04:01] krishna9304 opened #195 "Clicking on delete user button throws error"
### Description

When I go to `admin>user>delete user` and select a user and click on delete button after confirming, it breaks the portal and generates error that looks something like below

#### Steps to reproduce

1. Click on the admin option from the navbar.
2. Then click user>Delete user.
3. Select a user from the list and confirm.
4. Then click on delete button.

#### Screenshots

https://us

[2022-03-30 05:54] GMishx commented on #195
The request failed due to cors error. I am not sure how other requests went through.

Also, I am not sure deleting "Default user" and "fossy" are good idea. They are special users in FOSSology. Can you try creating a new user and check if you can delete it?

[2022-03-30 05:56] GMishx commented on #181
There is a fix proposed at https://github.com/fossology/fossology/pull/2195 for CORS.

[2022-03-30 06:10] krishna9304 commented on #195
Yes, I tried adding a user and then deleting it and this time it worked fine.

Also, I have a suggestion that we should disable deletion of the "fossy" and "Delete user" by greying out these options from the dropdown.

[2022-03-30 06:12] GMishx commented on #195
Agree, so can you please create a PR for it?

[2022-03-30 06:16] krishna9304 commented on #195
Okay, will be creating one soon.

[2022-03-31 04:32] Ankur0710 commented on #168
please tell me how i start

[2022-04-04 03:46] Ankur0710 commented on #168
please resign me

[2022-04-04 12:48] soham4abc commented on #168
![image](https://user-images.githubusercontent.com/63705023/161545690-42be418d-c2b6-4a4c-b9d6-ca81ab92cb64.png)

This is the current state of the UI end.. What update does it need kindly anyone can inform ? @GMishx
Plus the API returns the version as `unknown`.

![image](https://user-images.githubusercontent.com/63705023/161546092-5aa2294d-5389-4086-a690-343c316e12d7.png)

(I am running the latest

[2022-04-04 13:00] pret3nti0u5 opened #198 "Unexpected token error on login attempt in FossologyUI"
### Description

There has been a change in the fossology api keys, causing said issue. I'll push a PR which fixes this issue.

#### How to reproduce

1. Attempt to login use v1 api.

#### Screenshots

![error](https://user-images.githubusercontent.com/57453561/161548993-71bd391e-b091-4612-9cad-a449a7a3ead4.png)

### Versions

* Last commit id on master: #77a85c
* Operating System (lsb_release -a)

[2022-04-04 13:51] pret3nti0u5 commented on #168
Actually @soham4abc, even the Version is displayed correctly in the current UI. As can be seen here.
![image](https://user-images.githubusercontent.com/57453561/161558536-870d0758-d8c6-48f3-80a4-0837e04c596a.png)

Unless @GMishx has any changes to the current state I think it is safe to close this issue.

[2022-04-04 13:54] soham4abc commented on #168
I too think the same. The thing is already being implemented in the current state of the UI. Unless any change is required in  the layout.  Thanks for your input @pret3nti0u5

[2022-04-04 14:35] pret3nti0u5 opened #200 "Empty divider in Log Out dropdown and non-functional Log In button"
### Description
There is an empty divider in Log Out drop down, earlier that place used to house the theme toggle. But since it was removed from the drop down in an earlier commit the divider is no longer required. Same issues plagues the Log In button in the home page. Its only functionality is it redirects the user back to the home page on being clicked but since we can't access any page other t

[2022-04-06 05:38] GMishx commented on #168
Indeed you guys are correct. I think I didn't notice the naming used in REST API matches the naming in repo. This issue can be closed.

[2022-04-06 05:38] #168 closed

[2022-04-06 05:39] GMishx commented on #168
@soham4abc for the `unknown` version, can you please create an issue in FOSSology? I think the docker image does not have `.git` folder which causes it to be missing.

[2022-04-06 05:41] soham4abc commented on #168
Sure I will be creating the Issue ASAP!

[2022-04-06 06:06] soham4abc commented on #168
Created : https://github.com/fossology/fossology/issues/2206

@GMishx

[2022-04-06 07:40] #200 closed

[2022-04-06 13:30] hritikmosaic opened #202 "Not able to login"
### Description

I am using fossy as username and password. But getting , failed to fetch as the message .

#### Screenshots

<img width="1420" alt="Screenshot 2022-04-06 at 6 58 38 PM" src="https://user-images.githubusercontent.com/95684130/161985777-d7705f55-02b8-42b6-b5d8-35719fba8ea0.png">

### Versions

* Operating System (lsb_release -a): Mac
* Browser : Brave

How to resolve this issue , an

[2022-04-07 10:28] #202 closed

[2022-05-30 10:17] #165 closed

[2022-05-30 10:27] #195 closed

[2022-05-30 10:29] #161 closed

[2022-06-05 13:48] Ayush7614 opened #213 "Improve The UI of the Project"
In FossologyUI i have seen that UI is not lloks very good i am doing some changes please assign me this issue

[2022-06-05 13:49] #213 closed

[2022-06-06 06:06] krishna9304 opened #216 "Minimise promise chaining in asynchronous functions (ES6)"
### Description

Using “async - await” instead of “.then” wherever possible.

#### Reason:

It's better to use async/await where possible, and minimise promise chaining. Async/await makes JavaScript code more accessible to developers that aren't as familiar with JavaScript, and much easier to read.]

#### Example screenshots
- Using ".then"
<img width="371" alt="Screenshot 2022-06-06 at 11 30 02 A

[2022-06-07 08:07] #108 closed

[2022-06-07 14:51] ag4ums opened #218 "Required Rest API endpoints"
### Description

Required Rest API endpoints (update the new require endpoints as you find more)

## uploads (browse view)
* upload description
* comment
* license histogram
* file tree
* file clearing decision (license/copyright/ecc)
* conf page settings( unified , obligation, SPDX, decision)

## view file information
* package info,
* file info
* repository locator (fil size and checksums are av

[2022-06-13 10:58] #167 closed

[2022-06-14 02:54] soham4abc opened #221 "`react-virtualized-tree` package causing warning in `/browse` page"
### Description

The following warning is being shown whenever the `/browse` page is rendered,
![Screenshot from 2022-06-14 08-15-59](https://user-images.githubusercontent.com/63705023/173482994-29dee89d-3458-476a-a469-9382636ca60a.png)

#### How to reproduce
Run the UI project with the current backend and visit the `/browse` page after login and see the console.

### Versions

* Last commit id on

[2022-06-14 15:47] soham4abc opened #222 "Creation of `all recent jobs` page"
### Description

Currently, the `/allRecentJobs` page is not implemented as it gives us a blank response.

#### Steps followed and expected result
Run the UI with the current backend and after login visit the All recent jobs page

PS: I would like to work on this issue

@shaheemazmalmmd @GMishx

[2022-06-15 08:05] shaheemazmalmmd commented on #222
@soham4abc you can start working on it.

[2022-06-16 04:05] krishna9304 opened #224 "Creation of `Add user` page"
### Description

Currently the `add user` page is not implemented in the UI. I would like to work on this.

cc: @shaheemazmalmmd @GMishx

[2022-06-16 06:38] soham4abc opened #225 "Search bar in `/browse` page does not seem to work"
### Description

Currently, the search bar in the `/browse` page seems only to be an input field with no search function implemented.

#### How to reproduce

Run the current UI project and login to the `/browse` page and try to use the search bar above the table.

#### Screenshots

![Screenshot from 2022-06-16 12-04-40](https://user-images.githubusercontent.com/63705023/174006822-fa72b201-7b30-44b

[2022-06-17 03:59] soham4abc opened #226 "Creation of `my recent jobs` page"
### Description

Currently, the `/myRecentJobs` page is not implemented as it gives us a blank response.

#### Steps followed and expected result
Run the UI with the current backend and after login visit the My recent jobs page

#### Process that we can use to filter the Jobs according to the user
we can use the `users/self` API endpoint in order to get the logged-in user's ID and thus from the jo

[2022-06-17 07:38] dushimsam opened #227 "Creation of `maintanance` page"
### Description

The about `maintenance` page from the `admin` section is currently not available.

#### Steps followed
I want to implement the UI of this page by following these steps.

1. Review the `maintenance` page from the older UI version.
2. Defining the UI design of the targeted page.
3. Implement the UI following the standards of coding style.

#### Expected Result

The `maintenance` pag

[2022-06-19 14:18] krishna9304 opened #231 "(UI) Creation of the `Edit User Account` Page"
### Description

The `edit user account` page is not implemented in the current ui as of now. I'd like to work on this.
cc : @GMishx @sjha2048 @shaheemazmalmmd

[2022-06-20 07:01] dushimsam opened #233 "Creation of the `Duplicate Bucketpool` page"
### Description

The  `Duplicate Bucketpool` page from the `admin / Buckets` section is currently not available.

#### Steps followed
I want to implement the UI of this page, following these steps.

1. Review the `Duplicate Bucketpool` page from the older UI version.
2. Defining the UI design of the targeted page.
3. Implement the UI following the standards of coding style.
4. Test the implementat

[2022-06-23 07:36] #225 closed

[2022-06-23 07:42] #227 closed

[2022-06-23 08:17] #222 closed

[2022-06-24 15:10] dushimsam opened #234 "Creation of the `Delete Group` page"
### Description

The Delete Group page from the admin / Groups section is currently not available.

#### Steps to be  followed

I want to implement the UI of this page, following these steps.

1. Review the Delete Group page from the older UI.
2. Defining the UI design of the targeted page.
3. Implement the UI following the standards of coding style.
4. Test the implementation.
5. Raise PR for the

[2022-07-04 09:09] Ayush7614 opened #239 "Creation of Documentation page"
# Description

Currently the add Documentation  page is not implemented in the UI. I would like to work on this.

cc @GMishx @shaheemazmalmmd @Shruti3004

[2022-07-04 10:39] GMishx commented on #239
Can you please elaborate to what you refer as "Documentation page" @Ayush7614?

[2022-07-05 14:18] Ayush7614 commented on #239
![Screenshot from 2022-07-05 19-25-32](https://user-images.githubusercontent.com/67006255/177344689-031623ba-7b53-4149-b887-8c51fb786a3a.png)
thub repo
If we clicked on the Documentation option, then the GitHub repo page was open. Now I have created a separate page for the documentation. If anyone clicks on the documentation option, a new page will be open just like the about or getting started pa

[2022-07-05 14:36] GMishx commented on #239
Isn't that the expected behaviour?
And we are expecting to cover the full fledged documentation projects in the GSoD or some other programs. Not in GSoC.

[2022-07-13 09:25] dushimsam opened #242 "Creation of Manage-Group-Users Page"
### Description

The page for managing the group users is currently not available in FOSSology UI.

#### Steps to be  followed

I want to implement the UI of this page, following these steps.

1. Review the Manage Group Users page by referring to the older UI.
2. Defining the UI design of the targeted page.
3. Implement the UI following the standards of coding style.
4. Test the implementation.
5.

[2022-07-18 05:17] RaviAnand111 opened #243 "The Footer has null and undefined values"
### Description

The footer of the website has undefined and null values which should not be there

#### How to reproduce

On opening the site, you can see at the bottom footer

#### Screenshots

![image](https://user-images.githubusercontent.com/59113935/179449186-57aae75b-3701-45f7-a19f-41ca87077062.png)

[2022-07-18 07:23] soham4abc opened #244 "Changing the UI so that only Admin can access the `AllRecentJobs` page"
### Description

As the APIs for jobs are ready and also there is a API for sending all jobs which can only be accessed by the Admin.
(see here: https://github.com/fossology/fossology/pull/2260)
We can make the `AllRecentJobs` page accessible to the only if the logged in user is Admin. Otherwise the route in the Navigation bar can be hidden for all other users.

PS: I would like to work on this is

[2022-07-25 17:40] krishna9304 opened #247 "(UI) Creation of the `upload permissions` Page"
### Description

The `upload permissions` page is not implemented in the current ui as of now. I'd like to work on this.

Tasks to be followed:

- [ ] Create the static UI.
- [ ] Implement data retrieval from html forms.
- [ ] Implement the new API in PR [#2275](https://github.com/fossology/fossology/pull/2275).
- [ ] Test everything.

cc : @GMishx @Shruti3004

[2022-08-08 19:27] khushbooag4 commented on #224
I would like to work on this @GMishx

[2022-08-10 19:04] pulkit-30 commented on #216
Hey @krishna9304 @GMishx ,
I want to work on this issue,
Can you please assign me this issue. 🚀

[2022-08-12 05:28] dushimsam opened #250 "Integrate Fossology Maintenance page."
### Description

The functionality of the Fossology maintenance is not integrated on the page.

#### Steps to be followed
  1. Refer to the endpoint URL of the API.
  2. Call the post API  upon the submission of the options on the page..

#### Expected Results

    The fossology maintenance is directly initiated after the user has submitted the preferred maintenance operations.

[2022-08-18 13:09] krishna9304 commented on #216
Hello @pulkit-30 , As you can see in the example, we want to minimise promise chaining and use `async-await` wherever possible in the project. Also, make sure to follow the contribution guideline from https://github.com/fossology/fossology/blob/master/CONTRIBUTING.md before creating a PR.

[2022-08-22 06:47] RamGoel opened #253 "Improvement : Dark Mode Switch Delay"
### Description

When we are switching from dark mode to light mode and vice versa then the delay is different for the background and for the cards which seems asymmetric on the website and fixing it will enhance the UI.

#### How to reproduce

- Go to [FossologyUI Page](https://fossology.github.io/FOSSologyUI/)
- Scroll to Bottom
- Repeatedly Switch to DarkMode/Light Mode

Describe the bug and li

[2022-08-22 06:48] RamGoel commented on #253
I have Fixed the Issue and ready to make pull request.

[2022-08-25 10:49] #224 closed

[2022-08-26 07:53] #244 closed

[2022-08-26 10:46] #253 closed

[2022-08-29 06:48] #234 closed

[2022-08-30 06:23] #231 closed

[2022-09-01 07:13] krishna9304 opened #255 "(UI) Creation of history of jobs queued history page for an upload"
## Description
The jobs queued `history page` for an upload is not implemented in the current UI as of now. I'd like to work on this.

Tasks to be completed ---
- [ ] Create the static UI using reusable components.
- [ ] Integrate the API from https://github.com/fossology/fossology/pull/2307
- [ ] Test Everything.

cc: @GMishx @Shruti3004 @shaheemazmalmmd

[2022-09-05 08:36] GMishx commented on #216
@krishna9304 @pulkit-30 , one of you want to work on the issue?

[2022-09-05 09:48] krishna9304 commented on #216
if @pulkit-30 is not working on it, i can pick it up!!

[2022-09-05 10:23] pulkit-30 commented on #216
Yep, I am working on this

[2022-09-05 20:43] dushimsam opened #257 "Admin Obligation CSV Import Page"
### Description

The Admin Obligation CSV Import Page currently does not exist in the UI.

#### Steps followed and expected result

1. Create a new file of the page.
2. Refer to the API url for integration.
3. Integrate the PAGE.
4. Raise a PR

cc: @shaheemazmalmmd @GMishx

[2022-09-06 03:28] dushimsam opened #258 "Integrate Add License Page"
### Description

The functionality of the Add License is not integrated on the page.

#### Steps to be followed
  1. Refer to the endpoint URL of the API.
  2. Call the post API  upon the submission of the form on the page.

#### Expected Results

The License is directly created after the user submits the form with details for the new license.

cc : @GMishx @Shruti3004 @shaheemazmalmmd

[2022-09-06 12:21] dushimsam opened #260 "Set options empty after upload-request submission"
### Description3.

When the user clicks the upload button, the options continue to remain filled.

#### Steps followed and expected result

1. Designing the function to reset the fields back to empty.
2. Calling the function to reset options after successful submission.

### Screenshots

![Selection_019](https://user-images.githubusercontent.com/66276301/188633101-534c44de-80a1-4d6f-ae30-3d5139bd8

[2022-09-09 13:04] Rbcoder1 commented on #154
I would like to solve this issue . please give a chance.

[2022-09-10 03:26] Rbcoder1 commented on #157
I would like to solved this issue.

[2022-09-13 20:28] NageshMandal commented on #260
I want to work on the issue. Could you please assign it to me.

[2022-09-14 02:02] Rbcoder1 commented on #154
i can solved this issue please give me reply

[2022-09-14 10:37] krishna9304 opened #264 "(UI) Integrate the Import Report functionality to the existing Static UI"
## Description
Importing an existing report to an upload functionality is not implemented in the current UI as of now. I'd like to work on this.

Tasks to be completed ---
- [ ] Add logical components to the `Import Report` page
- [ ] Integrate the API from https://github.com/fossology/fossology/pull/2317
- [ ] Test Everything.

cc: @GMishx @Shruti3004 @shaheemazmalmmd

[2022-09-29 07:55] #264 closed

[2022-09-29 09:13] ampsteric commented on #258
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-09-29 09:13] ampsteric commented on #250
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-10-05 15:09] Ranamalsingh12 opened #266 "UI Bug At the footer"
### UI Bug

I was checking FossologyUI when i found this bug in footer where the version, branch, build showing [] and commit showing : [#Undefined].

#### Screenshots
![Screenshot from 2022-10-05 20-34-41](https://user-images.githubusercontent.com/90625605/194095558-2e0f765b-efa9-49aa-ad88-310434532d6b.png)

Also Can i work on this issue?

[2022-10-08 18:33] MahidharMannuru5 opened #268 "Navbar collapsing"
The Navabar in the mobile version is overriding the page and collapsing the page when the menus are clicked in the Navabar
![IMG_20221009_000020](https://user-images.githubusercontent.com/81514511/194722402-a64d31a2-6f25-45ab-867d-7ed620a45d01.jpg)
Can I work on this issue?

[2022-10-25 08:37] hritik2002 commented on #266
@Ranamalsingh12 are you working on the issue?

[2022-10-25 12:28] Ranamalsingh12 commented on #266
Hey @hritik2002 i am working on it currently as you know diwali is going on so i am at currently not working but will start working soon

[2022-10-25 14:10] hritik2002 commented on #266
cool.

[2022-10-31 04:43] punithnayak commented on #268
@MahidharMannuru5  ..are you working on this?

[2022-10-31 05:46] MahidharMannuru5 commented on #268
Yes @punithnayak

[2022-11-01 05:29] yashkhandelwal123 commented on #159
can i work on it.

[2022-11-10 13:51] adithyaakrishna opened #269 "[Bug] - Eslint Doesn't Seem to Work"
### Description

When running `yarn run lint` or `yarn run lint:check`  the command finishes without giving any output

#### How to reproduce

1. Clone the repo
2. cd FOSSologyUI
3. Run `yarn`
4. Make some Indentation changes in .js and .jsx files and run `yarn run lint:check`
5. Should give errors, but CLI command finishes without giving output

### Versions

* Last commit id on master: Latest
*

[2022-11-10 13:52] adithyaakrishna commented on #269
Also as an enhancement, it would be nice to have husky and lint-staged checkers to use git hooks and lint files before the commit

CC @GMishx @Shruti3004 @Aman-Codes

[2022-11-15 21:18] danger-ahead commented on #266
@Ranamalsingh12 please assign me to this. Also I checked the api. Looks like there's an error with the API. Can you please guide me through this?

[2022-11-16 13:52] Ranamalsingh12 commented on #266
Hey Shourya i have resolved this issue there is nothing error with the API
they made it that way after my PR will accepted this issue will be resolved

On Wed, Nov 16, 2022 at 2:48 AM SHOURYA SHIKHAR ***@***.***>
wrote:

[2022-11-21 08:55] CannedShroud commented on #268
Is this issue still active?